- form_for @user do |f|
  .row.clearfix
    = f.label :login, 'Username/Email'
    = f.text_field :login
  .row.clearfix
    = f.label :email
    = f.text_field :email
  .row.clearfix
    = f.label :password
    = f.password_field :password
  .row.clearfix
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .row.clearfix
    = f.submit 'Signup'