.user-info-window{:id => dom_id(@user)}
  =link_to "Close", "#", :class => 'close', :id => dom_id(@user)
  = image_tag @user.gravatar_url
  .details.clearfix
    %h1= @user.login
    %p= @user.location.full_address unless @user.location.nil?
    .current_message= @user.message
  - if current_user == @user 
    %form#message{:action => message_user_path(current_user), :method => :post}
      = text_field_tag :message
      = submit_tag "Thump It!"
  - else
    %form#message{:action => message_user_path(current_user), :method => :post}
      = text_field_tag :message
      = hidden_field_tag :to_user_id, @user.id
      = submit_tag "Thump It!"
  