.uni
  %h1 Change Password
  - form_for current_user, :url => user_password_path, :html => {:method => :put} do |f|
    .row
      = f.label :password, "New Password"
      = f.password_field :password, :size => 20
    .row
      = f.label :password_confirmation, "Confirm New Password"
      = f.password_field :password_confirmation, :size => 20
    .row
      = f.submit "change password"